<template>
    <div class="voter-alert-message">
        <b-alert v-model="isDisplaying" variant="warning">
            <p>
                {{ content }}
            </p>

            <span style="font-size: 90%" class="dismiss">
                <a href="#" v-on:click="hide()">[ Close ]</a>
            </span>
        </b-alert>
    </div>
</template>

<script lang="ts">
import {
  Component, PropSync, Vue, Watch,
} from 'vue-property-decorator';
import { namespace } from 'vuex-class';

const alert = namespace('Alert');

@Component
export default class AlertMessage extends Vue {
    @PropSync('msg', { required: true, type: String }) private _msg!: string;

    @alert.State
    public isDisplaying!: boolean

    @alert.State
    public content!: string

    @alert.Action
    public hideAlert!: () => void

    public hide() {
      this.hideAlert();
    }

    @Watch('$route', { immediate: true, deep: true })
    onUrlChange() {
      // Hide the alert box when user leaves the page.
      this.hide();
    }
}
</script>
