<template>
    <header>
      <b-navbar>
        <b-navbar-brand style="cursor:pointer" v-on:click="navBarBrandClicked()">
          VotePeer
        </b-navbar-brand>
        <b-navbar-nav v-if="authenticated">
          <b-nav-item v-on:click="dashBoardClicked()">Dashboard</b-nav-item>
          <b-nav-item to="/new_election">New Election</b-nav-item>
          <b-nav-item to="/groups">User groups</b-nav-item>
          <b-button style="margin-left: 2em" variant="outline-danger"
            size="sm"
            v-on:click="signOutClicked()">Logout</b-button>
        </b-navbar-nav>

        <b-navbar-nav v-if="!authenticated">
          <b-nav-item to="/login">Login</b-nav-item>
        </b-navbar-nav>
      </b-navbar>
    </header>
</template>

<script lang="ts">
import {
  Component, Vue,
} from 'vue-property-decorator';
import authService from '../services/auth';

@Component
export default class TheNavbar extends Vue {
  private authenticated = false;

  public async created() {
    authService.observeAuth()
      .subscribe((currentUser) => {
        const isAnonymous = currentUser?.isAnonymous;
        this.authenticated = currentUser != null && !isAnonymous;
      });
  }

  // eslint-disable-next-line class-methods-use-this
  public signOutClicked() {
    authService.signOut();
    if (this.$router.currentRoute.name !== 'LandingPage') {
      this.$router.push({ name: 'LandingPage' });
    }
  }

  public dashBoardClicked() {
    if (this.$router.currentRoute.name !== 'dashboard') {
      this.$router.push({ name: 'dashboard' });
    }
  }

  public navBarBrandClicked() {
    if (this.$router.currentRoute.name !== 'LandingPage') {
      this.$router.push({ name: 'LandingPage' });
    }
  }
}
</script>
