<template>
  <div class='dashboard'>
  <p v-if="user">You are logged in as
    <span v-html="ppAddress(user)"></span>
  </p>
  <span>
    <b-button to="/new_election">
        Create a new election
    </b-button>
  </span>
  <h2 style="margin-top: 1em;">Elections you host</h2>

  <div v-if="!loadingComplete">Loading elections...
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

  <div style="max-width: 30em;">
  <b-list-group v-if="adminElections.length > 0" id="election-list">
    <b-list-group-item
        style="cursor:pointer"
        v-for="election in adminElections" :key="election.id"
        class="election-item"
        v-on:click="openElection(election.id)">
            {{ election.content.description | makeTitle }}
    </b-list-group-item>
  </b-list-group>
  <p v-else><span v-if="loadingComplete">None</span></p>
  </div>

  <h2 style="margin-top: 1em;">Elections you are participanting in</h2>

  <div v-if="!loadingComplete">Loading elections...
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </div>

  <div style="max-width: 30em;">
  <b-list-group v-if="participantElections.length > 0" id="election-list">
    <b-list-group-item style="cursor:pointer"
      v-for="election in participantElections" :key="election.id"
      class="election-item" v-on:click="openElection(election.id)">
            {{ election.content.description | makeTitle }}
    </b-list-group-item>
  </b-list-group>
  <p v-else><span v-if="loadingComplete">None</span></p>
  </div>
  </div>
</template>

<script lang='ts'>
import {
  Component, Vue,
} from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import { IElection } from '../model/IElection';
import election from '../services/election';
import authService from '../services/auth';

const alertStore = namespace('Alert');

@Component
export default class Dashboard extends Vue {
  private loadingComplete: boolean = false;

  private participantElections: IElection[] = [];

  private adminElections: IElection[] = [];

  private user: string = '';

  private authObserver: any = null;

  @alertStore.Action
  private displayAlert!: (content: string) => void

  @alertStore.Action
  private hideAlert!: () => void

  public async created() {
    const onUserLoaded = async (user: string) => {
      this.user = user;
      try {
        const promises = [
          election.getAdminElections(user),
          election.getParticipantElections(user)];
        this.adminElections = await promises[0];
        this.participantElections = await promises[1];
      } catch (e) {
        this.displayAlert(`Error loading elections: ${e}`);
        console.error(e);
      }
      this.loadingComplete = true;
    };

    this.authObserver = authService.observeAuth()
      .subscribe(async (currentUser) => {
        console.log('Dashboard event: ',
          currentUser?.uid, currentUser?.isAnonymous);
        if (!currentUser) {
          return;
        }
        if (currentUser.isAnonymous) {
          return;
        }
        try {
          await onUserLoaded(currentUser.uid);
        } catch (e) {
          console.warn(`Failed to load elections ${e}`);
        }
      },
      (error) => {
        console.warn(`subscribe error ${error}`);
      });
  }

  // eslint-disable-next-line class-methods-use-this
  public openElection(electionId: string) {
    this.$router.push({ name: 'election', params: { id: electionId } });
  }
}
</script>
