<template>
  <div class="login">
    <h1>Login</h1>
    <p>Use the <a href="https://play.google.com/store/apps/details?id=info.bitcoinunlimited.voting">
      VoterPeer Android app</a> to login.</p>
    <p> Navigate to <em>menu</em> -><em>Login</em> and scan the following QR-code to login: </p>
    <qrcode v-if="loginUrl && this.loginUrl != 'ERROR'"
            v-bind:value="loginUrl" :options="{ width: 200 }"></qrcode>

    <div>
        <div width="80%" style="font-size: x-small;
            font-family: Lucida Console, Monaco, monospace; overflow-wrap: break-word;">
            <span v-if="loginUrl"
              style="max-width: 200px; overflow-wrap: anywhere;" >
              {{loginUrl}}
            </span>
            <div v-else>
              <span v-if="loginUrl != 'ERROR'">
                Initiating login session...
                <div class="spinner-border" role="status">
                  <span class="sr-only"></span>
                </div>
              </span>
              <span v-else>Login session error</span>
            </div>
        </div>
    </div>
  </div>
</template>

<script lang="ts">
import {
  Component, Vue,
} from 'vue-property-decorator';
import { namespace } from 'vuex-class';
import 'firebase/auth';
import firebase from 'firebase/app';
import authService from '../services/auth';
import { bchidentity_url } from '../db';

const main = namespace('Main');
const alertStore = namespace('Alert');

@Component
export default class Login extends Vue {
    public errorCode: string = '';

    public loginUrl: string = '';

    @alertStore.Action
    public displayAlert!: (content: string) => void

    @alertStore.Action
    public hideAlert!: () => void

    public async created() {
      try {
        await this.createChallenge();
      } catch (error) {
        this.displayAlert(`Failed to create login challenge: ${error}`);
        this.loginUrl = 'ERROR';
      }

      const redirect = () => {
        console.log('Redirecting to dashboard');
        if (this.$router.currentRoute.name !== 'dashboard') {
          this.$router.push({ name: 'dashboard' });
        } else {
          console.log('Already there');
        }
        // Workaround for firebase only auth observer only detecting anonymous
        // login, and not custom token login.
        // authService.forceAuthEmit(null);
      };

      if (authService.authTokenExists()) {
        console.log('User should log out before returning to login page.');
        redirect();
        return;
      }

      authService.observeAuth()
        .subscribe(async (currentUser) => {
          const isAuthenticated = authService.isAuthenticated();
          if (isAuthenticated) {
            return;
          }

          if (currentUser && currentUser?.isAnonymous) {
            if (await this.storeAuthToken(currentUser)) {
              // Auth token has now been stored in local storage.
              // Redirecting to dashboard will trigger signin.
              redirect();
            }
          }
        },
        (error) => {
          this.displayAlert(`Error ${error}`);
        });
    }

    private async createChallenge() {
      console.log('Creating challenge');
      const newCurrentUser = await authService.signInAnonymously();
      const currentUserId = newCurrentUser.uid;
      const challenge = await authService.requestChallenge();
      this.loginUrl = bchidentity_url(challenge, currentUserId);
    }

    // eslint-disable-next-line class-methods-use-this
    public async storeAuthToken(currentUser: firebase.User) {
      console.log('storeAuthToken');
      const currentUserId = currentUser.uid;

      try {
        const authToken = await authService.listenForAuthToken(currentUserId);
        localStorage.setItem('auth-token', authToken);
        return true;
      } catch (e) {
        this.displayAlert(`Error fetching auth token: ${e}`);
        return false;
      }
    }

    @main.Action
    public signIn!: () => void
}
</script>
