<template>
  <div id="app" :key="forceRender"> <!-- key change forces re-render -->
    <TheNavbar/>
    <AlertMessage msg="Alert message here!"/>
    <router-view/>
    <TheFooter/>
  </div>
</template>

<script lang="ts">
/* eslint-disable import/extensions */
import {
  Component, Vue,
} from 'vue-property-decorator';
import TheNavbar from './components/TheNavbar.vue';
import TheFooter from './components/TheFooter.vue';
import AlertMessage from './components/AlertMessage.vue';
import authService from './services/auth';

// TODO: Move to service, use App.vue to observe and route.

/* eslint-disable class-methods-use-this */
@Component({
  components: {
    TheNavbar,
    AlertMessage,
    TheFooter,
  },
})
export default class App extends Vue {
  public forceRender = 1;

  private authObserver: any = null;

  public async created() {
    this.authObserver = authService.observeAuth()
      .subscribe(async (currentUser) => {
        const route = this.$router.currentRoute.name as String;
        console.log(`Auth event, current route: ${route}, current user: ${currentUser?.uid}`);
        console.log(`Auth event, current user isAnonymous(): ${currentUser?.isAnonymous}`);
        if (!route) {
          console.warn(`No route, route == ${route}`);
          return;
        }

        if (currentUser && !currentUser?.isAnonymous) {
          return;
        }

        // We'll try to login with existing auth token (if we have any).
        // If that fails, we either:
        //
        // 1. Do nothing (if route does not require authentication).
        // 2. Redirect to login page (if route requires authentication).

        if (await authService.signinWithStoredToken()) {
          console.log('Signed in with stored token');
          authService.forceAuthEmit(null);
          // Authentication success with existing credentials.
          //
          // Force re-render of this page to reload any data that
          // previously failed due to no authentication.
          // this.forceRender += 1;
          return;
        }
        console.log('Did not sign in with stored token');

        // We've failed to login with existing token.
        const noAuthRoutes: String[] = ['login', 'LandingPage', 'election'];
        if (noAuthRoutes.includes(route)) {
          console.log('Not logged in, but no login required.');
          return;
        }

        console.log('Login required. Redirecting to login page.');
        this.$router.push({ name: 'login' });
      });
  }
}
</script>
